<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.ElementoMapper">

    <!-- Consultar -->
    <select id="consultarElementos" resultMap="ElementoResult">
        SELECT *
        FROM Elemento
    </select>

    <!-- Registrar a Un Equipo -->
    <update id="actualizarEquipoAsociado" parameterType="map">
        UPDATE Equipo
        SET equipo = #{equipo}
        WHERE id = #{id}
    </update>

    <!-- Resultado Usuario -->
    <resultMap type="Elemento" id="ElementoResult">
        <result property="id" column="id"/>
        <result property="tipo" column="tipo"/>
        <result property="equipo" column="equipo"/>
        <result property="marca" column="marca"/>
        <result property="referencia" column="referencia"/>
        <result property="fechaDeRegistro" column="fechaDeRegistro"/>
        <result property="activo" column="activo"/>
    </resultMap>

</mapper>