<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.EquipoMapper">

    <!-- Agregar Equipo -->
    <insert id="addEquipo" parameterType="map">
        INSERT INTO equipo (id, nombre, laboratorio, activo)
        VALUES (#{equipo.id},#{equipo.nombre}, #{equipo.laboratorio}, #{equipo.activo})
    </insert>

    <!-- Seleccionar Equipos -->
    <select id="consultarEquiposObj" resultMap="EquipoResultObj">
        SELECT
            eq.id as eq_id,
            eq.nombre as eq_nombre,
            eq.activo as eq_activo,
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo
        FROM equipo as eq
            JOIN laboratorio as lb ON eq.laboratorio = lb.id
        ORDER BY eq.id
    </select>

    <!-- Seleccionar Equipos -->
    <select id="consultarEquipos" resultMap="EquipoResult">
        SELECT *
        FROM equipo
    </select>

    <!-- Consultar Equipo por id -->
    <select id="consultarEquipoId" resultMap="EquipoResultObj">
        SELECT
            eq.id as eq_id,
            eq.nombre as eq_nombre,
            eq.activo as eq_activo,
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo
        FROM equipo as eq
            JOIN laboratorio as lb ON eq.laboratorio = lb.id
        WHERE eq.id = #{id}
    </select>

    <!-- Consultar Equipo por Lab -->
    <select id="consultarEquiposLab" resultMap="EquipoResultObj">
        SELECT
            eq.id as eq_id,
            eq.nombre as eq_nombre,
            eq.activo as eq_activo,
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo
        FROM equipo as eq
            JOIN laboratorio as lb ON eq.laboratorio = lb.id
        WHERE lb.id = #{id}
    </select>

    <!-- Dar De Baja Equipo -->
    <update id="darDeBajaEquipo" parameterType="map">
        UPDATE Equipo
        SET activo = #{activo}
        WHERE id = #{id}
    </update>

    <!-- Asociar Laboratorio -->
    <update id="asociarLaboratorio" parameterType="map">
        UPDATE Equipo
        SET laboratorio = #{laboratorio}
        WHERE id = #{id}
    </update>

    <!-- Resultado Equipo -->
    <resultMap id="EquipoResult" type="Equipo">
        <result property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='laboratorio' column='laboratorio'/>
        <result property='activo' column='activo'/>
    </resultMap>

    <!-- Resultado EquipoOBJ -->
    <resultMap id="EquipoResultObj" type="Equipo">
        <result property='id' column='eq_id'/>
        <result property='nombre' column='eq_nombre'/>
        <result property='activo' column='eq_activo'/>
        <association property="laboratorioObj" resultMap="edu.eci.cvds.persistence.mybatis.mappers.LaboratorioMapper.LaboratorioResult" columnPrefix="lb_"/>
    </resultMap>

</mapper>