<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.LaboratorioMapper">

    <!-- Consultar -->
    <select id="consultarLaboratorios" resultMap="LaboratorioResult">
        SELECT *
        FROM Laboratorio
        ORDER BY id
    </select>

    <!-- Consultar Dependiendo Nombre -->
    <select id="consultarLaboratorioNombre" resultMap="LaboratorioResult">
        SELECT *
        FROM Laboratorio
        WHERE nombre = #{nombre}
    </select>

    <!-- Agregar Laboratorio -->
    <insert id="addLaboratorio" parameterType="map">
        INSERT INTO laboratorio (nombre, fechaDeCreacion, fechaDeCierre, activo)
        VALUES (#{laboratorio.nombre}, LOCALTIMESTAMP, null, #{laboratorio.activo})
    </insert>

    <!-- Resultado Usuario -->
    <resultMap type="Laboratorio" id="LaboratorioResult">
        <result property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="fechadeCreacion" column="fechadeCreacion"/>
        <result property="fechadeCierre" column="fechadeCierre"/>
        <result property="activo" column="activo"/>
    </resultMap>

</mapper>