<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.LaboratorioMapper">

    <!-- Consultar -->
    <select id="consultarLaboratorios" resultMap="LaboratorioResult">
        SELECT
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo,
            (SELECT COUNT(*) FROM equipo as eq WHERE eq.laboratorio = lb.id) as lb_totalLabs
        FROM Laboratorio as lb
        ORDER BY lb.id
    </select>

    <!-- Consultar Dependiendo Nombre -->
    <select id="consultarLaboratorioNombre" resultMap="LaboratorioResult">
        SELECT
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo,
            (SELECT COUNT(*) FROM equipo as eq WHERE eq.laboratorio = lb.id) as lb_totalLabs
        FROM Laboratorio as lb
        WHERE lb.nombre = #{nombre}
    </select>

    <!-- Agregar Laboratorio -->
    <insert id="addLaboratorio" parameterType="map">
        INSERT INTO laboratorio (nombre, fechaDeCreacion, fechaDeCierre, activo)
        VALUES (#{laboratorio.nombre}, LOCALTIMESTAMP, null, #{laboratorio.activo})
    </insert>

    <!-- Cerrar Laboratorio -->
    <update id="cerrarLaboratorio" parameterType="map">
        UPDATE laboratorio 
        SET activo = false, fechadecierre = LOCALTIMESTAMP
        WHERE id = #{id}
    </update>

    <!-- Actualizar Nombre -->
    <update id="actualizarNombre" parameterType="map">
        UPDATE laboratorio
        SET nombre =#{nombre}
        WHERE id = #{id}
    </update>

    <!-- Actualizar Estado -->
    <update id="abrirLaboratorio" parameterType="map">
        UPDATE laboratorio
        SET activo = true, fechadecierre = null
        WHERE id = #{id}
    </update>

    <!-- Resultado Usuario -->
    <resultMap type="Laboratorio" id="LaboratorioResult">
        <result property="id" column="lb_id" />
        <result property="nombre" column="lb_nombre" />
        <result property="fechadeCreacion" column="lb_fechadeCreacion" />
        <result property="fechadeCierre" column="lb_fechadeCierre" />
        <result property="activo" column="lb_activo" />
        <result property="catidadAsociados" column="lb_totalLabs" />
    </resultMap>

    <!-- Resultado Usuario -->
    <resultMap type="Laboratorio" id="LaboratorioResult2">
        <result property="id" column="id" />
        <result property="nombre" column="nombre" />
        <result property="fechadeCreacion" column="fechadeCreacion" />
        <result property="fechadeCierre" column="fechadeCierre" />
        <result property="activo" column="activo" />
    </resultMap>

</mapper>