<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.NovedadMapper">

    <!-- Consultar -->
    <select id="consultarNovedades" resultMap="NovedadResult">
        SELECT *
        FROM Novedad
    </select>

    <!-- Adicionar Novedad Equipo y Elemento -->
    <insert id="registrarNovedad" parameterType="map">
        INSERT INTO Novedad (responsable, equipo, elemento, fecha, titulo, novedad)
        VALUES (#{novedad.responsable},#{novedad.equipo}, #{novedad.elemento}, LOCALTIMESTAMP,#{novedad.titulo}, #{novedad.novedad})
    </insert>

    <!-- Resultado Usuario -->
    <resultMap type="Novedad" id="NovedadResult">
        <result property="id" column="id"/>
        <result property="responsable" column="responsable"/>
        <result property="equipo" column="equipo"/>
        <result property="elemento" column="elemento"/>
        <result property="fecha" column="fecha"/>
        <result property="titulo" column="titulo"/>
        <result property="novedad" column="novedad"/>
    </resultMap>

</mapper>