<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatis.mappers.NovedadMapper">

    <!-- Consultar -->
    <select id="consultarNovedades" resultMap="NovedadResult">
        SELECT *
        FROM Novedad
    </select>

    <!-- Consultar -->
    <select id="consultarNovedadesObj" resultMap="NovedadResultObj">
        SELECT
            n.id as n_id,
            n.fecha as n_fecha,
            n.titulo as n_titulo,
            n.novedad as n_novedad,
            u.carnet as u_carnet,
            u.nombre as u_nombre,
            u.apellido as u_apellido,
            u.correo as u_correo,
            u.username as u_username,
            u.passwd as u_passwd,
            u.activo as u_activo,
            u.rol as u_rol,
            eq.id as eq_id,
            eq.nombre as eq_nombre,
            eq.activo as eq_activo,
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo,
            e.id as e_id,
            e.marca as e_marca,
            e.referencia as e_referencia,
            e.fechaDeRegistro as e_fechaDeRegistro,
            e.activo as e_activo,
            te.nombre as te_nombre,
            te.descripcion as te_descripcion
        FROM novedad as n
            JOIN usuario as u ON n.responsable = u.carnet
            JOIN equipo as eq ON n.equipo = eq.id
            JOIN elemento as e ON n.elemento = e.id
            JOIN laboratorio as lb ON eq.laboratorio = lb.id
            JOIN tipoelemento as te ON e.tipo = te.nombre
        ORDER BY n.fecha
    </select>

    <!--Consultar Novedades Equipo-->
    <select id="consultarNovedadesEquipo" resultMap="NovedadResultObj">
        SELECT
            n.id as n_id,
            n.fecha as n_fecha,
            n.titulo as n_titulo,
            n.novedad as n_novedad,
            u.carnet as u_carnet,
            u.nombre as u_nombre,
            u.apellido as u_apellido,
            u.correo as u_correo,
            u.username as u_username,
            u.passwd as u_passwd,
            u.activo as u_activo,
            u.rol as u_rol,
            eq.id as eq_id,
            eq.nombre as eq_nombre,
            eq.activo as eq_activo,
            lb.id as lb_id,
            lb.nombre as lb_nombre,
            lb.fechaDeCreacion as lb_fechadeCreacion,
            lb.fechaDeCierre as lb_fechadeCierre,
            lb.activo as lb_activo,
            e.id as e_id,
            e.marca as e_marca,
            e.referencia as e_referencia,
            e.fechaDeRegistro as e_fechaDeRegistro,
            e.activo as e_activo,
            te.nombre as te_nombre,
            te.descripcion as te_descripcion
        FROM novedad as n
            JOIN usuario as u ON n.responsable = u.carnet
            JOIN equipo as eq ON n.equipo = eq.id
            JOIN elemento as e ON n.elemento = e.id
            JOIN laboratorio as lb ON eq.laboratorio = lb.id
            JOIN tipoelemento as te ON e.tipo = te.nombre
        WHERE eq.id = #{id}
        ORDER BY n.fecha
    </select>

    <!-- Adicionar Novedad Equipo y Elemento -->
    <insert id="registrarNovedad" parameterType="map">
        INSERT INTO Novedad (responsable, equipo, elemento, fecha, titulo, novedad)
        VALUES (#{novedad.responsable},#{novedad.equipo}, #{novedad.elemento}, LOCALTIMESTAMP,#{novedad.titulo}, #{novedad.novedad})
    </insert>

    <!-- Resultado Usuario -->
    <resultMap type="Novedad" id="NovedadResult">
        <result property="id" column="id"/>
        <result property="responsable" column="responsable"/>
        <result property="equipo" column="equipo"/>
        <result property="elemento" column="elemento"/>
        <result property="fecha" column="fecha"/>
        <result property="titulo" column="titulo"/>
        <result property="novedad" column="novedad"/>
    </resultMap>

    <!-- Resultado UsuarioObj -->
    <resultMap type="Novedad" id="NovedadResultObj">
        <result property="id" column="n_id"/>
        <result property="fecha" column="n_fecha"/>
        <result property="titulo" column="n_titulo"/>
        <result property="novedad" column="n_novedad"/>
        <association property="usuario" resultMap="edu.eci.cvds.persistence.mybatis.mappers.UsuarioMapper.UsuarioResult" columnPrefix="u_"/>
        <association property="equipoObj" resultMap="edu.eci.cvds.persistence.mybatis.mappers.EquipoMapper.EquipoResultObj"/>
        <association property="elementoObj" resultMap="edu.eci.cvds.persistence.mybatis.mappers.ElementoMapper.ElementoResultObj"/>
    </resultMap>


</mapper>